extends partials/layout

block vars
	- const title = 'Proxy Crawl';
	- const pageID = 'product';

block eod
	script
		+loadModule('pages/product.js')


block header
	header 
		include partials/navbar


block content
	main
		if error
			.container
				.alert(class="alert-danger text-center my-4")
					span Ups there is an error, try again 
					br
					strong  #{error}

		else
			//- Breadcrumb
			nav(aria-label="breadcrumb")
				.container
					ol(class="breadcrumb")
						li(class="breadcrumb-item")
							a(href="/" title="Home") Home

						//- Loop here
						each val in product.breadCrumbs
							li(class="breadcrumb-item")
								a(href=val.link title=val.name)= val.name

						li(class="breadcrumb-item active" aria-current="page")= product.name

			//- Post Detals
			article
				header
					.container
						.row
							.col-sm-5
								.product-silder
									div.img-thumbnail
										img(class="img-fluid" src=product.mainImage alt="Main Image")

									div(class="list-thumbnail")
										//- Loop here
										each val in product.images
											div(class="list-item")
												img(class="img-fluid" src=val alt="Thumbnail")
							
							.col-sm-7
								.product-detail
									h1.heading= product.name
									
									.raiting
										span(class="star-rating")
											i.icon-star-full
											i.icon-star-full
											i.icon-star-full
											i.icon-star-half
											i.icon-star-empty

										span(class="review")= product.customerReview
										span(class="pipe") |
										span(class="count") #{product.customerReviewCount} Customer Review

									.price 
										bdi= product.price
									
									p(class="description")= product.description
									
									.stock(class="d-flex")
										strong Stock:

										if product.inStock = true 
											span.text-success In Stock
										else 
											span.text-danger Not Available

									.brand(class="d-flex")
										strong Brand: 
										span.text-uppercase #{product.brand}

									.size(class="d-flex")
										strong Size:
										form(action="")
											input(class="btn-check" id="size-55" type="radio" name="size" autocomplete="off")
											label(class="btn btn-outline-secondary btn-sm" for="size-55") 55 Inch

											input(class="btn-check" id="size-43" type="radio" name="size" autocomplete="off")
											label(class="btn btn-outline-secondary btn-sm" for="size-43") 43 Inch

											input(class="btn-check" id="size-32" type="radio" name="size" autocomplete="off")
											label(class="btn btn-outline-secondary btn-sm" for="size-32") 32 Inch

											input(class="btn-check" id="size-23" type="radio" name="size" checked autocomplete="off")
											label(class="btn btn-outline-secondary btn-sm" for="size-23") 23 Inch

									.action(class="d-flex")
										.input-group(class="")
											button(class="btn btn-outline-secondary" id="add" type="button") +
											input(class="form-control form-control-lg" type="text" value="1" aria-label="" aria-describedby="")
											button(class="btn btn-outline-secondary" id="remove" type="button") -

										button(class="btn btn-dark btn-lg") 
											i(class="icon-cart")
											| Add To Cart
					
				section
					.container
						//- Tab Nav/Link
						ul.nav(class="nav-pills mb-4" id="pills-tab" role="tablist")
							li.nav-item(role="presentation")
								button(class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true") Description

							li.nav-item(role="presentation")
								button(class="nav-link" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="false") Additional information
							
							li.nav-item(role="presentation")
								button(class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false") Reviews

						//- Tab Content
						div(class="tab-content" id="pills-tabContent")
							//- Tab Pane
							div.tab-pane(class="fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab")
								//- Product Description
								p= product.description


								//- Product Feature In list view
								ul(class="list-unstyled")
									//- Loop here
									each val in product.features
										li
											i(class="icon-checkmark")
											span= val


								//- Shipping Information
								div.alert(class="alert-info")
									span= product.shippingMessage
							
							//- Tab Pane
							div.tab-pane(class="fade show" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab")
								//- Table View
								table.table(class="table-striped")
									tbody
										//- Loop here
										each info in product.productInformation
											tr
												td= info.name 
												td= info.value
							
							//- Tab Pane
							div.tab-pane(class="fade show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab")
								//- Loop here
								each val in product.reviews
									div(class="customer-review")
										
										.d-flex 
											.avatar
												a(href=val.reviewerLink target="_blank" title=val.reviewerName)
													i(class="icon-user")
										
											.meta
												strong.name= val.reviewerName + "--- "
												span.date= val.reviewDate
											
												.raiting
													span.star-raiting
														i.icon-star-full
														i.icon-star-full
														i.icon-star-full
														i.icon-star-half
														i.icon-star-empty

													#{val.reviewRating}

												h6.heading= val.reviewTitle
											
										.text-block
											p= val.reviewText
											//- p= val.reviewerLink
											//- p= val.reviewLink
											//- p= val.reviewVotes
											//- p= val.reviewCommentCount


			//- Aponsored Product Ads
			//- section 
			//- 	.container 
			//- 		.row(class="row-cols-1 row-cols-md-4")
						//- Loop here
						//- each val in product.sponsoredAds
						//- 	.col(class="mb-3")
						//- 		.card(class="h-100")
						//- 			.card-image
						//- 				a(href=val.spLink)
						//- 					img(src="" alt=val.spTitle)
									
						//- 			.card-body
						//- 				strong.text-warning= val.spAverageReview
						//- 				p.card-text= val.spTitle

						//- 			.card-footer
						//- 				strong= val.spPrice


block footer
	footer 
		.container
			p(class="copyright")
				| Copyright © 2021. All rights reserved | Developed by: 
				a(class="cta" href="https://onfusion.github.io/" target="_blank") Jawad